<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2137chan</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <!--    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->

</head>
<body>
<div id="papierz_div">
    <img src="static/images/papierz_anime.png" alt="" id="papierz"/>
</div>
<div id="outer_div_table">
    <div id="heading_div">What is 2137chan?
        <div id="div_announce">2137chan is a simple image-based bulletin board where anyone can post comments and share
            images. There are boards dedicated to a variety of topics, from Japanese animation and culture to
            videogames, music and photography. Users do not need to register an account before participating in the
            community. Feel fre to click on a board below that interests you and jump right in!
        </div>
        <div id="div_rules">Be sure to familiarize yourself with the <a href="#">Rules</a> before posting, and read the
            <a href="">FAQ</a> if you wish
            to learn more about how to use the site.
        </div>
    </div>
</div>
</body>
</html>