<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2137chan</title>
    <link rel="stylesheet" href="static/styles/style.css">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>
<div id="papierz_div">
    <img src="static/images/papierz_anime.png" alt="" id="papierz"/>
</div>
<div id="outer_div_table">
    <div id="heading_div">What is 2137chan?</div>
    <div id="div_announce">2137chan is a simple image-based bulletin board where anyone can post comments and share
        images. There are boards dedicated to a variety of topics, from Japanese animation and culture to
        videogames, music and photography. Users do not need to register an account before participating in the
        community. Feel fre to click on a board below that interests you and jump right in!
    </div>
    <div id="div_rules">Be sure to familiarize yourself with the <a href="#">Rules</a> before posting, and read the
        <a href="">FAQ</a> if you wish
        to learn more about how to use the site.
    </div>

</div>
<div id="boards_outer_div">
    <div id="boards_heading_div">Boards</div>
    <div id="boards_table_div_outer">
        <div id="boards_table_div_inner_1">
            <div id="b_b"><a href="#">Random</a></div>
            <div id="b_anime"><a href="#">Anime</a></div>
        </div>
        <div id="b_vg"><a href="#">Video Games</a></div>
        <div id="b_pol"><a href="#">Politically Incorrect</a></div>
        <div id="b_int"><a href="#">Interests</a></div>
        <div id="b_cre"><a href="#">Creative</a></div>
        <div id="b_other"><a href="#">Other</a></div>
        <div id="b_tele"><a href="#">Television</a></div>
    </div>
</div>
</body>
</html>